@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color:#f5f7f8;
}

.max-container {
  width: 85vw;
  margin: 3.5rem auto;
  background: white;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.main-gradient-background {
  background: linear-gradient(90deg, #ff0168 -1.07%, #b1209f 101.33%);
}

.main-color {
  color: #142457;
}
.secondary-color {
  color: #ff0163;
}
.main-background-color {
  background-color: #142457;
}

.text-title-color {
  color: #142457;
}

.text-paragraph-color {
  color: #848a9c;
}
