@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

:root {
  --font-Rye: 'Rye', sans-serif;
  --font-Montserrat: 'Montserrat', sans-serif;
  --font-messiri: 'El Messiri', arial;
}

.font-messiri {
  font-family: var(--font-messiri);
}

html {
  font-size: 10px;
}

.line {
  height: 0.2rem;
  width: 100%;
  background-color: #AB9950;
  border: none;
}