@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --font-Rye: 'Rye', sans-serif;
  --font-Montserrat: 'Montserrat', sans-serif;
}

.font-Rye {
  font-family: var(--font-Rye);
}

.font-Montserrat {
  font-family: var(--font-Montserrat);
}
html{
  font-size: 10px;
}
.line {
  height: 0.2rem;
  width: 100%;
  background-color: #AB9950;
  border: none;
}